    .wall {
        width: 50px;
        height: 50px;
        background: {
            image: asset_url('wall.png');
         }
        display: inline-block;
    }
    .coin {
        width: 50px;
        height: 50px;
        background: {
            image: asset_url('coin.png');
        }
        display: inline-block;
    }
    .ground {
        width: 50px;
        height: 50px;
        background: {
            image: asset_url('bg.png');
        }
        display: inline-block;
    }
    .ghost {
        width: 50px;
        height: 50px;
        background: {
            image: asset_url('ghost1.png');
        }
        display: inline-block;
    }
    .pacman {
        width: 50px;
        height: 50px;
        background: {
            image: asset_url('pacman.png');
        }
        display: inline-block;
    }

    div {
        line-height: 0px;
    }

    

